workflows/worker-4-sender.json
{
  "name": "Worker — 4 Sender  Email Outreach",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "b0519b43-a973-4dee-908e-f0245c3f66a9",
      "name": "Every 10 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1328,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Проверяем рабочие часы (10:00-19:00 по CET, пн-пт).\n// Если сейчас не рабочее время — возвращаем пустой массив, workflow остановится.\n\nconst now = new Date();\n// Переводим в CET (UTC+1 зимой, UTC+2 летом — используем UTC+2 как приближение)\nconst cetHour = (now.getUTCHours() + 2) % 24;\nconst dayOfWeek = now.getUTCDay(); // 0=вс, 1-5=пн-пт, 6=сб\n\nconst isWeekday = dayOfWeek >= 1 && dayOfWeek <= 5;\nconst isBusinessHour = cetHour >= 10 && cetHour < 19;\n\nconsole.log(`[Sender v1.0] Time check: CET hour=${cetHour}, day=${dayOfWeek}, weekday=${isWeekday}, businessHour=${isBusinessHour}`);\n\nif (!isWeekday || !isBusinessHour) {\n  console.log(`[Sender v1.0] Outside business hours — skipping this run.`);\n  return [];\n}\n\n// Рабочее время — продолжаем\nreturn [{ json: { proceed: true, cet_hour: cetHour, day: dayOfWeek } }];"
      },
      "id": "b2f9202c-aae5-4984-aa3a-5a51c7744434",
      "name": "Check Business Hours",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        112
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Outreach",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "draft_ready"
            }
          ]
        },
        "options": {}
      },
      "id": "9f1516d2-cddd-4a32-95d0-bf422458949b",
      "name": "Get Draft Ready Emails",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -880,
        112
      ],
      "executeOnce": true,
      "credentials": {
        "googleApi": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Берём одно первое письмо из очереди (FIFO — первое по дате генерации).\n// Rate limit: 1 письмо за запуск workflow (запуски каждые 10 минут = 6/час).\n\nconst all = $input.all();\n\nif (all.length === 0) {\n  console.log(`[Sender v1.0] No draft_ready emails in queue.`);\n  return [];\n}\n\nconsole.log(`[Sender v1.0] Queue size: ${all.length}. Taking first email.`);\n\nreturn [all[0]];"
      },
      "id": "65a7a4a4-d98e-4292-a9aa-39882e6003c3",
      "name": "Take First Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Собираем итоговое письмо:\n// 1. Случайно выбираем subject_a или subject_b (A/B 50/50)\n// 2. Формируем HTML body с preheader в скрытом span\n// 3. Подготавливаем данные для отправки через SMTP\n\nconst outreach = $json;\n\n// --- A/B выбор subject ---\nconst useA = Math.random() < 0.5;\nconst chosenSubject = useA ? (outreach.subject_a || '') : (outreach.subject_b || outreach.subject_a || '');\nconst subjectVariant = useA ? 'A' : 'B';\n\nif (!chosenSubject || !outreach.body) {\n  throw new Error(`Missing subject or body for ${outreach.email}. subject_a=${outreach.subject_a}, subject_b=${outreach.subject_b}, body_len=${(outreach.body || '').length}`);\n}\n\nif (!outreach.email || !outreach.email.includes('@')) {\n  throw new Error(`Invalid email: ${outreach.email}`);\n}\n\n// --- HTML body ---\n// Конвертируем переносы строк в <br>, preheader в скрытом span в начале\nconst preheader = (outreach.preheader || '').substring(0, 100);\nconst bodyHtml = outreach.body\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\\n/g, '<br>\\n');\n\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n</head>\n<body style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif; font-size: 14px; color: #333; line-height: 1.5;\">\n<span style=\"display:none !important; visibility:hidden; opacity:0; color:transparent; height:0; width:0; overflow:hidden;\">${preheader}</span>\n<div>\n${bodyHtml}\n</div>\n</body>\n</html>`;\n\n// Plain text версия (для клиентов без HTML)\nconst textVersion = outreach.body;\n\nreturn [{\n  json: {\n    _to_email: outreach.email,\n    _to_name: outreach.company_name || '',\n    _subject: chosenSubject,\n    _html: html,\n    _text: textVersion,\n    _subject_variant: subjectVariant,\n    _website: outreach.website,\n    _company_name: outreach.company_name,\n    _language: outreach.language,\n    _original_body: outreach.body\n  }\n}];"
      },
      "id": "14b87850-b00f-4f8c-bc39-6403c77c53a9",
      "name": "Build Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        112
      ]
    },
    {
      "parameters": {
        "fromEmail": "your-outreach-email@gmail.com",
        "toEmail": "={{ $json._to_email }}",
        "subject": "={{ $json._subject }}",
        "emailFormat": "both",
        "text": "={{ $json._text }}",
        "html": "={{ $json._html }}",
        "options": {}
      },
      "id": "ca60b743-2abb-47bc-ad68-91898002cda4",
      "name": "Send via Gmail SMTP",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -224,
        112
      ],
      "webhookId": "36c7640f-9369-47b1-9856-47363ece53ae",
      "credentials": {
        "smtp": {
          "id": "YOUR_GMAIL_SMTP_CRED_ID",
          "name": "Gmail SMTP Outreach"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "8d29aec3-3ef7-4e60-8b71-538e8458ab1a",
      "name": "Wait 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "43738927-a2f5-4079-b2fc-ece65ce7a225"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Outreach",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "website": "={{ $('Build Email Content').item.json._website }}",
            "status": "sent",
            "error": "={{ 'sent_variant_' + $('Build Email Content').item.json._subject_variant + '_at_' + new Date().toISOString() }}",
            "row_number": 0
          },
          "matchingColumns": [
            "website"
          ],
          "schema": [
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject_a",
              "displayName": "subject_a",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject_b",
              "displayName": "subject_b",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "preheader",
              "displayName": "preheader",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_at",
              "displayName": "generated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_generated",
              "displayName": "date_generated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a427313f-49c7-4160-8542-55ff341a404a",
      "name": "Update Outreach Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "maxTries": 3,
      "credentials": {
        "googleApi": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "website": "={{ $('Build Email Content').item.json._website }}",
            "status": "sent",
            "row_number": 0
          },
          "matchingColumns": [
            "website"
          ],
          "schema": [
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_url",
              "displayName": "source_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_added",
              "displayName": "date_added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pain",
              "displayName": "pain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "size",
              "displayName": "size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "eed5ad46-a642-45cd-99d7-f14afd9098a7",
      "name": "Update Lead Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        448,
        0
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "maxTries": 3,
      "credentials": {
        "googleApi": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Обработка ошибки отправки SMTP.\n// Письмо не ушло — помечаем статус send_failed и записываем причину.\n\nconst emailData = $('Build Email Content').item.json;\nconst errorMsg = $json.error?.message || $json.message || JSON.stringify($json).substring(0, 200);\n\nconsole.error(`[Sender v1.0] SMTP send failed for ${emailData._to_email}: ${errorMsg}`);\n\nreturn [{\n  json: {\n    _website: emailData._website,\n    _error: 'send_failed: ' + errorMsg.substring(0, 300)\n  }\n}];"
      },
      "id": "f2fd7e26-3767-4ca6-9149-6042acd9ba9b",
      "name": "Handle Send Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Outreach",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "website": "={{ $json._website }}",
            "status": "send_failed",
            "error": "={{ $json._error }}",
            "row_number": 0
          },
          "matchingColumns": [
            "website"
          ],
          "schema": [
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject_a",
              "displayName": "subject_a",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject_b",
              "displayName": "subject_b",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "preheader",
              "displayName": "preheader",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_at",
              "displayName": "generated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_generated",
              "displayName": "date_generated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "11bf5cf7-b597-415b-8260-2ce38e14765e",
      "name": "Mark Send Failed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        224,
        208
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "maxTries": 3,
      "credentials": {
        "googleApi": {
          "id": "YOUR_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every 10 Minutes": {
      "main": [
        [
          {
            "node": "Check Business Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Business Hours": {
      "main": [
        [
          {
            "node": "Get Draft Ready Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Draft Ready Emails": {
      "main": [
        [
          {
            "node": "Take First Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take First Email": {
      "main": [
        [
          {
            "node": "Build Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Content": {
      "main": [
        [
          {
            "node": "Send via Gmail SMTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via Gmail SMTP": {
      "main": [
        [
          {
            "node": "Wait 2s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Send Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2s": {
      "main": [
        [
          {
            "node": "Update Outreach Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Outreach Status": {
      "main": [
        [
          {
            "node": "Update Lead Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Send Error": {
      "main": [
        [
          {
            "node": "Mark Send Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {},
  "tags": []
}